{% extends 'Template/base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <div class="panel panel-default no-bd">
            <div class="panel-header bg-dark">
                <h2 class="panel-title"><strong>Editar</strong> Especialidad: {{ especialidade.nombre|title }}</h2>
            </div>
            <div class="panel-body bg-white">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="row">
                            <div class="col-sm-12">

                                {{ form_start(edit_form) }}
                                {{ form_widget(edit_form) }}
                                <br><br>
                                <input class="btn btn-embossed btn-primary" type="submit" value="Editar Especialidad" />
                                {{ form_end(edit_form) }}

                            </div>
                        </div>

                        {#<div class="text-center  m-t-20">#}
                        {#<button type="submit" class="btn btn-embossed btn-primary">Sign Up</button>#}
                        {#<button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>#}
                        {#</div>#}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}