{% extends 'Template/base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <div class="panel panel-default no-bd">
            <div class="panel-header bg-dark">
                <h2 class="panel-title"><strong>Mostrar</strong>: {{ especialidade.nombre|title }}</h2>
            </div>
            <div class="panel-body bg-white">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form role="form" class="form-validation" novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-12">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ especialidade.id }}</td>
                                            <td>{{ especialidade.nombre }}</td>
                                            <td>{% if especialidade.isActivo %}Activo{% else %}Inactivo{% endif %}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            {#<div class="text-center  m-t-20">#}
                            {#<button type="submit" class="btn btn-embossed btn-primary">Sign Up</button>#}
                            {#<button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>#}
                            {#</div>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

