{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear Paciente" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('paciente_index') }}">Regresar</a>
        </li>
    </ul>
{% endblock %}
